@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Bebas Neue Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue Regular'), url('/src/fonts/BebasNeue Regular.woff') format('woff');
}
@font-face {
  font-family: 'Bebas Neue Book';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue Book'), url('/src/fonts/BebasNeue Book.woff') format('woff');
}
/* Indicator Header */
.indicator-header {
  margin: 75vh auto;
}
.indicator-header span {
  background-color: #FFF;
}
.indicator-header span.active {
  border: 2px solid #FFF;
  background-color: transparent;
}
/* Indicator Prending Items */
.indicator-trending-item {
  margin: 30px auto;
}
.indicator-trending-item span {
  background-color: #878787;
}
.indicator-trending-item span.active {
  border: 2px solid #dc0000;
  background-color: transparent;
}
.header-background {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  background-repeat: repeat;
  background-position: 50% 0;
  background-attachment: fixed;
}
header {
  background-image: url('/src/img/header-background.jpg');
  background-size: cover;
  width: 100%;
  position: fixed;
  height: 100vh;
  position: relative;
}
header nav {
  width: 100%;
  height: 98px;
  padding-top: 30px;
}
header nav ul.left {
  float: left;
}
header nav ul.left li {
  float: left;
  list-style: none;
}
header nav ul.left li a {
  font-size: 48px;
  line-height: 30px;
  color: #dc0000;
  text-decoration: none;
  font-family: 'Bebas Neue Regular';
}
header nav ul.right {
  float: right;
}
header nav ul.right li {
  float: left;
  list-style: none;
  margin-left: 50px;
}
header nav ul.right li a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
header nav ul.right li a:hover {
  color: #dc0000;
}
header .header-center {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 900px;
  /* Valor da Largura */
  height: 400px;
  /* Valor da Altura */
  margin-left: -450px;
  /* Metade do valor da Largura */
  margin-top: -200px;
  /* Metade da valor da Altura */
}
header .header-center .carousel ul.carousel-header {
  width: 900px;
  height: 400px;
}
header .header-center .carousel ul.carousel-header li {
  text-align: center;
}
header .header-center .carousel ul.carousel-header li h1 {
  color: #ffffff;
  font-size: 30px;
  line-height: 60px;
  font-family: "Open Sans Light", Arial;
  text-transform: uppercase;
}
header .header-center .carousel ul.carousel-header li h2 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  font-family: "Lato", Arial;
  text-transform: uppercase;
}
header .header-center .carousel ul.carousel-header li button {
  border-radius: 4px;
  border: 2px solid #ffffff;
  padding: 20px 44px 20px 44px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  font-family: "Lato", Arial;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
header .header-center .carousel ul.carousel-header li button:hover {
  color: #000000;
  background-color: #ffffff;
}
/* --------- end header --------- */
.title-area {
  width: 100%;
  height: 98px;
  margin: 60px 0 60px 0;
  text-align: center;
}
.title-area .title-area-border-top {
  height: 2px;
  width: 112px;
  margin: 0 auto;
  background-color: #dc0000;
}
.title-area h1 {
  height: 64px;
  font-style: italic;
  font-family: "Open Sans Light", Arial;
  font-size: 40px;
}
.title-area .title-area-border-bottom {
  height: 2px;
  width: 112px;
  margin: 0 auto;
  background-color: #dc0000;
}
.last-products {
  padding-bottom: 60px;
}
.last-products .men {
  background: url('/src/img/men.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .woman {
  background: url('/src/img/woman.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .watches {
  background: url('/src/img/watches.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .img40-off {
  background: url('/src/img/40-off.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .mega-sale {
  background: url('/src/img/mega-sale.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .margin-box {
  margin-top: 30px;
}
.last-products .last-products-box {
  width: 100%;
  height: 418px;
  padding-top: 34px;
}
.last-products .last-products-box .last-products-hover {
  display: none;
}
.last-products .last-products-box:hover .last-products-hover {
  display: block;
  width: 80%;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #ffffff;
}
.last-products .last-products-box:hover .last-products-hover h1 {
  color: #ffffff;
  font-style: italic;
  font-family: "Open Sans Light", Arial;
  font-size: 40px;
}
.last-products .last-products-box:hover .last-products-hover h2 {
  color: #ffffff;
  font-weight: 700;
  font-family: "Lato", Arial;
  text-transform: uppercase;
  font-size: 40px;
}
.last-products .last-products-box:hover .last-products-hover .view-more {
  margin-top: 60px;
}
.last-products .last-products-box:hover .last-products-hover .view-more a {
  border-radius: 4px;
  border: 2px solid #ffffff;
  padding: 20px 44px 20px 44px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  font-family: "Lato", Arial;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.last-products .last-products-box:hover .last-products-hover .view-more a:hover {
  color: #000000;
  background-color: #ffffff;
}
/* --------- end last-products --------- */
.container-trending-items {
  width: 100%;
  height: 1018px;
  background: url('/src/img/trending-bg.jpg') repeat-x;
}
.container-trending-items .carousel ul.carousel2 {
  width: 100%;
  height: 670px;
}
.container-trending-items .carousel ul.carousel2 li {
  width: 100%;
}
.container-trending-items .carousel ul.carousel2 li .trending-item {
  width: 100%;
  min-height: 570px;
  background: url('/src/img/trending-item.jpg');
}
.container-trending-items .carousel ul.carousel2 li h1 {
  font-weight: 700;
  font-size: 30px;
  color: #dc0000;
  font-family: "Lato", Arial;
  text-transform: uppercase;
}
.container-trending-items .carousel ul.carousel2 li h2 {
  color: #777777;
  font-size: 18px;
  font-family: "Open Sans Light", Arial;
}
.container-trending-items .carousel ul.carousel2 li .margin-box {
  margin-top: 30px;
}
.container-trending-items .carousel ul.carousel2 li button {
  border-radius: 0px;
  border: 1px solid #333333;
  padding: 10px 0 10px 0;
  width: 100%;
  background-color: transparent;
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.container-trending-items .carousel ul.carousel2 li button:hover {
  color: #ffffff;
  background-color: #333333;
}
.container-trending-items .carousel ul.carousel2 li a .box-size-smaller {
  width: 68px;
  height: 48px;
  border: 1px solid #333333;
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  display: table-cell;
  /* Add this */
  vertical-align: middle;
  /* Change to middle */
  font-family: 'Open Sans', sans-serif;
}
.container-trending-items .carousel ul.carousel2 li a .box-size-smaller:hover {
  color: #ffffff;
  background-color: #333333;
}
/* --------- end trending-items --------- */
.container-from-the-blog {
  width: 100%;
  height: 1118px;
  background-color: #ffffff;
}
.container-from-the-blog .carousel ul.carousel2 {
  width: 100%;
  height: 770px;
}
.container-from-the-blog .carousel ul.carousel2 li {
  width: 100%;
}
.container-from-the-blog .carousel ul.carousel2 li .from-the-blog {
  width: 100%;
  min-height: 400px;
}
.container-from-the-blog .carousel ul.carousel2 li .ficure-first {
  background: url('/src/img/blog-ficure-first.jpg');
}
.container-from-the-blog .carousel ul.carousel2 li .ficure-second {
  background: url('/src/img/blog-ficure-second.jpg');
}
.container-from-the-blog .carousel ul.carousel2 li #div {
  width: 100%;
  height: 1px;
  margin: 20px 0 20px 0;
  background-color: #ecf0f1;
}
.container-from-the-blog .carousel ul.carousel2 li h1 {
  font-weight: 700;
  font-size: 30px;
  color: #dc0000;
  font-family: "Lato", Arial;
  text-transform: uppercase;
}
.container-from-the-blog .carousel ul.carousel2 li h2 {
  color: #777777;
  font-size: 18px;
  font-family: "Open Sans Light", Arial;
}
.container-from-the-blog .carousel ul.carousel2 li h3 {
  color: #333333;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.container-from-the-blog .carousel ul.carousel2 li button {
  border-radius: 0px;
  border: 1px solid #333333;
  padding: 10px 0 10px 0;
  width: 100%;
  background-color: transparent;
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.container-from-the-blog .carousel ul.carousel2 li button:hover {
  color: #ffffff;
  background-color: #333333;
}
/* --------- end from-the-blog --------- */
footer {
  width: 100%;
  height: 410px;
}
footer .subscribe {
  width: 100%;
  height: 222px;
  padding: 22px 0 0 0;
  background: url('/src/img/subscribe-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer .subscribe .subscribe-left {
  float: left;
}
footer .subscribe .subscribe-left h1 {
  color: #ffffff;
  line-height: 50px;
  font-size: 18px;
  font-family: "Open Sans Light", Arial;
}
footer .subscribe .subscribe-left input[name="name"] {
  background-color: rgba(255, 255, 255, 0);
  background-image: url('/src/img/imput-email.png');
  background-position: 30px 14px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 80px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  float: left;
  outline: 0;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans Light", Arial;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
footer .subscribe .subscribe-left input[name="name"]:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
footer .subscribe .subscribe-right {
  float: right;
  margin-top: 80px;
}
footer .subscribe .subscribe-right a .subscribe-botao {
  width: 270px;
  height: 50px;
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  display: table-cell;
  /* Add this */
  vertical-align: middle;
  /* Change to middle */
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
}
footer .footer_autor {
  color: #333333;
  margin-top: 78px;
  font-size: 22px;
  font-family: 'Bebas Neue Regular';
}
footer .footer_autor a {
  color: #333333;
  text-decoration: none;
}
footer .footer_autor a:hover {
  color: #dc0000;
}
/* --------- end footer --------- */
