@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Bebas Neue Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue Regular'), url('/src/fonts/BebasNeue Regular.woff') format('woff');
}
@font-face {
  font-family: 'Bebas Neue Book';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue Book'), url('/src/fonts/BebasNeue Book.woff') format('woff');
}
/* Header */
.indicator-header {
  margin: 75vh auto;
}
.indicator-header span {
  background-color: #ffffff;
}
.indicator-header span.active {
  border: 2px solid #ffffff;
  background-color: transparent;
}
/* prending-items and from-the-blog */
.indicator-trending-item {
  margin: 30px auto;
}
.indicator-trending-item span {
  background-color: #777777;
}
.indicator-trending-item span.active {
  background-color: transparent;
  border: 2px solid #dc0000;
}
/* --------- End Indicator --------- */
.header-background {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  background-repeat: repeat;
  background-position: 50% 0;
  background-attachment: fixed;
}
header {
  width: 100%;
  height: 100vh;
  position: fixed;
  position: relative;
  background-size: cover;
  background-image: url('/src/img/header-background.jpg');
}
header nav {
  width: 100%;
  height: 98px;
  padding-top: 30px;
}
header nav ul.left {
  float: left;
}
header nav ul.left li {
  float: left;
  list-style: none;
}
header nav ul.left li a {
  font-size: 46px;
  line-height: 30px;
  color: #dc0000;
  text-decoration: none;
  font-family: 'Bebas Neue Regular';
}
header nav ul.right {
  float: right;
}
header nav ul.right li {
  float: left;
  list-style: none;
  margin-left: 50px;
}
header nav ul.right li a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
header nav ul.right li a:hover {
  color: #dc0000;
}
header .header-center {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 900px;
  /* Valor da Largura */
  height: 400px;
  /* Valor da Altura */
  margin-left: -450px;
  /* Metade do valor da Largura */
  margin-top: -200px;
  /* Metade da valor da Altura */
}
header .header-center .carousel ul.carousel-header {
  width: 900px;
  height: 400px;
}
header .header-center .carousel ul.carousel-header li {
  text-align: center;
}
header .header-center .carousel ul.carousel-header li h1 {
  color: #ffffff;
  font-size: 24px;
  line-height: 60px;
  font-family: "Open Sans Light", Arial;
  text-transform: uppercase;
}
header .header-center .carousel ul.carousel-header li h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  font-family: "Lato", Arial;
  text-transform: uppercase;
}
header .header-center .carousel ul.carousel-header li button {
  border-radius: 4px;
  border: 2px solid #ffffff;
  padding: 20px 44px 20px 44px;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", Arial;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
header .header-center .carousel ul.carousel-header li button:hover {
  color: #000000;
  background-color: #ffffff;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) {
  header nav {
    height: 78px;
    padding-top: 20px;
  }
  header nav ul.left li a {
    font-size: 38px;
  }
  header nav ul.right li {
    margin-left: 30px;
  }
  header .header-center {
    width: 768px;
    /* Valor da Largura */
    height: 350px;
    /* Valor da Altura */
    margin-left: -384px;
    /* Metade do valor da Largura */
    margin-top: -175px;
    /* Metade da valor da Altura */
  }
  header .header-center .carousel ul.carousel-header {
    width: 768px;
    height: 350px;
  }
  header .header-center .carousel ul.carousel-header li h1 {
    font-size: 20px;
    line-height: 40px;
  }
  header .header-center .carousel ul.carousel-header li h2 {
    font-size: 42px;
  }
  header .header-center .carousel ul.carousel-header li button {
    padding: 16px 38px 16px 38px;
    font-size: 16px;
  }
}
/* --------- end header --------- */
.title-area {
  width: 100%;
  height: 98px;
  text-align: center;
  margin: 60px 0 60px 0;
}
.title-area .title-area-border-top {
  height: 2px;
  width: 112px;
  margin: 0 auto;
  background-color: #dc0000;
}
.title-area h1 {
  height: 64px;
  font-style: italic;
  font-family: "Open Sans Light", Arial;
  font-size: 40px;
}
.title-area .title-area-border-bottom {
  height: 2px;
  width: 112px;
  margin: 0 auto;
  background-color: #dc0000;
}
.last-products {
  padding-bottom: 60px;
}
.last-products .men {
  background: url('/src/img/men.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .woman {
  background: url('/src/img/woman.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .watches {
  background: url('/src/img/watches.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .img40-off {
  background: url('/src/img/40-off.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .mega-sale {
  background: url('/src/img/mega-sale.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .margin-box {
  margin-top: 30px;
}
.last-products .last-products-box {
  width: 100%;
  height: 418px;
  padding-top: 34px;
}
.last-products .last-products-box .last-products-hover {
  display: none;
}
.last-products .last-products-box:hover .last-products-hover {
  width: 80%;
  height: 350px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #ffffff;
}
.last-products .last-products-box:hover .last-products-hover h1 {
  color: #ffffff;
  font-style: italic;
  font-family: "Open Sans Light", Arial;
  font-size: 40px;
}
.last-products .last-products-box:hover .last-products-hover h2 {
  color: #ffffff;
  font-weight: 700;
  font-family: "Lato", Arial;
  text-transform: uppercase;
  font-size: 40px;
}
.last-products .last-products-box:hover .last-products-hover .view-more {
  margin-top: 60px;
}
.last-products .last-products-box:hover .last-products-hover .view-more a {
  border-radius: 4px;
  border: 2px solid #ffffff;
  padding: 20px 44px 20px 44px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  font-family: "Lato", Arial;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.last-products .last-products-box:hover .last-products-hover .view-more a:hover {
  color: #000000;
  background-color: #ffffff;
}
/* --------- end last-products --------- */
.container-trending-items {
  width: 100%;
  height: 1018px;
  background: url('/src/img/trending-bg.jpg') repeat-x;
}
.container-trending-items .carousel ul.carousel2 {
  width: 100%;
  height: 670px;
}
.container-trending-items .carousel ul.carousel2 li {
  width: 100%;
}
.container-trending-items .carousel ul.carousel2 li h1 {
  font-size: 24px;
  font-weight: 700;
  color: #dc0000;
  font-family: "Lato", Arial;
  text-transform: uppercase;
}
.container-trending-items .carousel ul.carousel2 li h2 {
  color: #777777;
  font-size: 18px;
  font-family: "Open Sans Light", Arial;
}
.container-trending-items .carousel ul.carousel2 li .margin-box {
  margin-top: 30px;
}
.container-trending-items .carousel ul.carousel2 li button {
  width: 100%;
  border-radius: 0px;
  padding: 10px 0 10px 0;
  border: 1px solid #333333;
  background-color: transparent;
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.container-trending-items .carousel ul.carousel2 li button:hover {
  color: #ffffff;
  background-color: #333333;
}
/* --------- end trending-items --------- */
.container-from-the-blog {
  width: 100%;
  height: 1118px;
  background-color: #ffffff;
}
.container-from-the-blog .carousel ul.carousel2 {
  width: 100%;
  height: 770px;
}
.container-from-the-blog .carousel ul.carousel2 li {
  width: 100%;
}
.container-from-the-blog .carousel ul.carousel2 li .from-the-blog {
  width: 100%;
  min-height: 400px;
}
.container-from-the-blog .carousel ul.carousel2 li .ficure-first {
  background: url('/src/img/blog-ficure-first.jpg');
}
.container-from-the-blog .carousel ul.carousel2 li .ficure-second {
  background: url('/src/img/blog-ficure-second.jpg');
}
.container-from-the-blog .carousel ul.carousel2 li #div {
  width: 100%;
  height: 1px;
  margin: 20px 0 20px 0;
  background-color: #ecf0f1;
}
.container-from-the-blog .carousel ul.carousel2 li h1 {
  font-size: 24px;
  font-weight: 700;
  color: #dc0000;
  font-family: "Lato", Arial;
  text-transform: uppercase;
}
.container-from-the-blog .carousel ul.carousel2 li h2 {
  color: #777777;
  font-size: 18px;
  font-family: "Open Sans Light", Arial;
}
.container-from-the-blog .carousel ul.carousel2 li h3 {
  color: #333333;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.container-from-the-blog .carousel ul.carousel2 li button {
  width: 100%;
  border-radius: 0px;
  padding: 10px 0 10px 0;
  border: 1px solid #333333;
  background-color: transparent;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.container-from-the-blog .carousel ul.carousel2 li button:hover {
  color: #ffffff;
  background-color: #333333;
}
/* --------- end from-the-blog --------- */
.article {
  padding-bottom: 60px;
}
.article .article-main h1 {
  color: #ffffff;
  font-style: italic;
  font-family: "Open Sans Light", Arial;
  font-size: 40px;
}
.article .article-main h2 {
  color: #777777;
  font-size: 18px;
  font-family: "Open Sans Light", Arial;
}
.article .article-main img.ficure {
  float: left;
  border: transparent thin solid;
  padding: 5px;
  margin: 0px 10px 10px 0;
}
.article .article-main .men {
  background: url('/src/img/men.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.article .article-main .woman {
  background: url('/src/img/woman.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.article .article-main .watches {
  background: url('/src/img/watches.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.article .article-main .img40-off {
  background: url('/src/img/40-off.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.article .article-main .mega-sale {
  background: url('/src/img/mega-sale.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.article-share {
  width: 100%;
  height: 190px;
  margin-bottom: 4px;
  background: url('/src/img/trending-bg.jpg') repeat-x;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.article-share .article-share-title {
  color: #333333;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
}
.article-share ul {
  margin: 0 !important;
  padding: 0 !important;
}
.article-share ul li {
  list-style: none;
}
.article-share ul li .twitter {
  background-color: #55acee;
}
.article-share ul li .twitter:hover {
  background-color: #4b9cda;
}
.article-share ul li .facebook {
  background-color: #3b5998;
}
.article-share ul li .facebook:hover {
  background-color: #2a447b;
}
.article-share ul li .google {
  background-color: #d34836;
}
.article-share ul li .google:hover {
  background-color: #b33524;
}
.article-share ul li .article-share-area {
  float: left;
  height: 70px;
  width: 33.333333%;
}
.article-share ul li .article-share-area .article-share-center {
  width: 110px;
  height: 70px;
  margin: 0 auto;
}
.article-share ul li .article-share-area .article-share-center .ico-twitter {
  background: url('/src/img/ico-twitter.png') repeat-x;
}
.article-share ul li .article-share-area .article-share-center .ico-facebook {
  background: url('/src/img/ico-face.png') repeat-x;
}
.article-share ul li .article-share-area .article-share-center .ico-google {
  background: url('/src/img/ico-google.png') repeat-x;
}
.article-share ul li .article-share-area .article-share-center .article-share-ico {
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 14px;
}
.article-share ul li .article-share-area .article-share-center .article-share-social {
  width: 70px;
  height: 70px;
  float: left;
  text-align: center;
}
.article-share ul li .article-share-area .article-share-center .article-share-social h1 {
  color: #ffffff;
  line-height: 0;
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.article-share ul li .article-share-area .article-share-center .article-share-num {
  width: 64px;
  padding: 2px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
/* --------- end Article --------- */
footer {
  width: 100%;
  height: 410px;
}
footer .subscribe {
  width: 100%;
  height: 222px;
  padding: 22px 0 0 0;
  background: url('/src/img/subscribe-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer .subscribe .subscribe-left {
  float: left;
}
footer .subscribe .subscribe-left h1 {
  color: #ffffff;
  font-size: 18px;
  line-height: 50px;
  font-family: "Open Sans Light", Arial;
}
footer .subscribe .subscribe-left input[name="name"] {
  background-color: rgba(255, 255, 255, 0);
  background: url('/src/img/imput-email.png') 30px 14px no-repeat;
  padding: 12px 20px 12px 80px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  float: left;
  outline: 0;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans Light", Arial;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
footer .subscribe .subscribe-left input[name="name"]:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
footer .subscribe .subscribe-right {
  float: right;
  margin-top: 80px;
}
footer .subscribe .subscribe-right a .subscribe-botao {
  width: 270px;
  height: 50px;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
}
footer .footer_autor {
  color: #333333;
  margin-top: 78px;
  font-size: 22px;
  font-family: 'Bebas Neue Regular';
}
footer .footer_autor a {
  color: #333333;
  text-decoration: none;
}
footer .footer_autor a:hover {
  color: #dc0000;
}
/* --------- end footer --------- */
