@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Bebas Neue Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue Regular'), url('/src/fonts/BebasNeue Regular.woff') format('woff');
}
@font-face {
  font-family: 'Bebas Neue Book';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue Book'), url('/src/fonts/BebasNeue Book.woff') format('woff');
}
/* Indicator Header */
.indicator-header {
  margin: 0 auto;
}
.indicator-header span {
  background-color: #FFF;
}
.indicator-header span.active {
  border: 2px solid #FFF;
  background-color: transparent;
}
/* Indicator Prending Items */
.indicator-trending-item {
  margin: 30px auto;
}
.indicator-trending-item span {
  background-color: #878787;
}
.indicator-trending-item span.active {
  border: 2px solid #dc0000;
  background-color: transparent;
}
header {
  width: 100%;
  height: 100vh;
  background: url('/src/img/header-background.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header nav {
  width: 100%;
  height: 98px;
  padding-top: 30px;
}
header nav ul.left {
  float: left;
}
header nav ul.left li {
  float: left;
  list-style: none;
}
header nav ul.left li a {
  font-size: 48px;
  line-height: 30px;
  color: #dc0000;
  text-decoration: none;
  font-family: 'Bebas Neue Regular';
}
header nav ul.right {
  float: right;
}
header nav ul.right li {
  float: left;
  list-style: none;
  margin-left: 50px;
}
header nav ul.right li a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
header .carousel ul.carousel2 {
  width: 100%;
  height: 600px;
}
header .carousel ul.carousel2 li {
  width: 100%;
  height: 100%;
  text-align: center;
}
header .carousel ul.carousel2 li h1 {
  color: #ffffff;
  font-size: 30px;
  line-height: 60px;
  font-family: "Open Sans Light", Arial;
  text-transform: uppercase;
}
header .carousel ul.carousel2 li h2 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  font-family: "Lato", Arial;
  text-transform: uppercase;
}
header .carousel ul.carousel2 li .header-botao {
  margin-top: 60px;
}
header .carousel ul.carousel2 li .header-botao a {
  border-radius: 4px;
  border: 2px solid #FFFFFF;
  padding: 20px 44px 20px 44px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: "Lato", Arial;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
header .carousel ul.carousel2 li .header-botao a:hover {
  color: #000000;
  background-color: #fff;
}
.title-area {
  width: 100%;
  height: 98px;
  margin: 60px 0 60px 0;
  text-align: center;
}
.title-area .title-area-border-top {
  height: 2px;
  width: 112px;
  margin: 0 auto;
  background-color: #dc0000;
}
.title-area h1 {
  height: 64px;
  font-style: italic;
  font-family: "Open Sans Light", Arial;
  font-size: 40px;
}
.title-area .title-area-border-bottom {
  height: 2px;
  width: 112px;
  margin: 0 auto;
  background-color: #dc0000;
}
.last-products {
  padding-bottom: 60px;
}
.last-products .men {
  background: url('/src/img/men.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .woman {
  background: url('/src/img/woman.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .watches {
  background: url('/src/img/watches.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .img40-off {
  background: url('/src/img/40-off.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .mega-sale {
  background: url('/src/img/mega-sale.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.last-products .margin-box {
  margin-top: 30px;
}
.last-products .last-products-box {
  width: 100%;
  height: 418px;
  padding-top: 34px;
}
.last-products .last-products-box .last-products-hover {
  display: none;
}
.last-products .last-products-box:hover .last-products-hover {
  display: block;
  width: 80%;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #ffffff;
}
.last-products .last-products-box:hover .last-products-hover h1 {
  color: #ffffff;
  font-style: italic;
  font-family: "Open Sans Light", Arial;
  font-size: 40px;
}
.last-products .last-products-box:hover .last-products-hover h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  font-family: "Lato", Arial;
  text-transform: uppercase;
}
.last-products .last-products-box:hover .last-products-hover .view-more {
  margin-top: 60px;
}
.last-products .last-products-box:hover .last-products-hover .view-more a {
  border-radius: 4px;
  border: 2px solid #ffffff;
  padding: 20px 44px 20px 44px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: "Lato", Arial;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.last-products .last-products-box:hover .last-products-hover .view-more a:hover {
  color: #000000;
  background-color: #ffffff;
}
.container-trending-items {
  width: 100%;
  height: 918px;
  background: url('/src/img/trending-bg.jpg') repeat-x;
}
.container-trending-items .carousel ul.carousel2 {
  width: 100%;
  height: 570px;
}
.container-trending-items .carousel ul.carousel2 li {
  width: 100%;
}
.container-trending-items .carousel ul.carousel2 li .trending-item {
  width: 100%;
  min-height: 570px;
  background: url('/src/img/trending-item.jpg');
}
.container-trending-items .carousel ul.carousel2 li h1 {
  color: #dc0000;
  font-size: 30px;
  font-weight: 700;
  font-family: "Lato", Arial;
  text-transform: uppercase;
}
.container-trending-items .carousel ul.carousel2 li h2 {
  color: #777777;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
.container-trending-items .carousel ul.carousel2 li h3 {
  color: #777777;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Lato", Arial;
}
.container-trending-items .carousel ul.carousel2 li .margin-box {
  margin-top: 30px;
}
.container-trending-items .carousel ul.carousel2 li a .box-size-smaller {
  width: 68px;
  height: 48px;
  border: 1px solid #333333;
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  display: table-cell;
  /*Add this*/
  vertical-align: middle;
  /*Change to middle*/
  font-family: 'Open Sans', sans-serif;
}
.container-trending-items .carousel ul.carousel2 li a .box-size-smaller:hover {
  color: #ffffff;
  background-color: #333333;
}
.container-trending-items .carousel ul.carousel2 li a .box-size-larger {
  width: 168px;
  height: 48px;
  border: 1px solid #333333;
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  display: table-cell;
  /*Add this*/
  vertical-align: middle;
  /*Change to middle*/
  font-family: 'Open Sans', sans-serif;
}
.container-trending-items .carousel ul.carousel2 li a .box-size-larger:hover {
  color: #ffffff;
  background-color: #333333;
}
