@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Bebas Neue Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue Regular'), url('/src/fonts/BebasNeue Regular.woff') format('woff');
}
@font-face {
  font-family: 'Bebas Neue Book';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue Book'), url('/src/fonts/BebasNeue Book.woff') format('woff');
}
header {
  width: 100%;
  height: 100vh;
  background: url('/src/img/header-background.jpg') no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header nav {
  width: 100%;
  height: 98px;
  padding-top: 30px;
}
header nav ul.left {
  float: left;
}
header nav ul.left li {
  float: left;
  list-style: none;
}
header nav ul.left li a {
  font-size: 48px;
  line-height: 30px;
  color: #dc0000;
  text-decoration: none;
  font-family: 'Bebas Neue Regular';
}
header nav ul.right {
  float: right;
}
header nav ul.right li {
  float: left;
  list-style: none;
  margin-left: 50px;
}
header nav ul.right li a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
header .carousel ul.carousel2 {
  width: 100%;
  height: 600px;
}
header .carousel ul.carousel2 li {
  width: 100%;
  height: 100%;
  text-align: center;
}
header .carousel ul.carousel2 li h1 {
  color: #ffffff;
  font-size: 30px;
  line-height: 60px;
  font-family: "Open Sans Light", Arial;
  text-transform: uppercase;
}
header .carousel ul.carousel2 li h2 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  font-family: "Lato", Arial;
  text-transform: uppercase;
}
header .carousel ul.carousel2 li .header-botao {
  margin-top: 60px;
}
header .carousel ul.carousel2 li .header-botao a {
  border-radius: 4px;
  border: 2px solid #FFFFFF;
  padding: 20px 44px 20px 44px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: "Lato", Arial;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
header .carousel ul.carousel2 li .header-botao a:hover {
  color: #000000;
  background-color: #fff;
}
