@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
header {
  width: 100%;
  height: 100vh;
  background: url('/src/img/header-background.jpg') no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header nav {
  width: 100%;
  height: 98px;
}
header .carousel ul.carousel2 {
  width: 100%;
  height: 80vh;
}
header .carousel ul.carousel2 li {
  width: 100%;
  height: 100%;
  text-align: center;
}
header .carousel ul.carousel2 li h1 {
  color: #ffffff;
  font-size: 30px;
  line-height: 60px;
  font-family: "Open Sans Light", Arial;
  text-transform: uppercase;
}
header .carousel ul.carousel2 li h2 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  font-family: "Lato", Arial;
  text-transform: uppercase;
}
header .carousel ul.carousel2 li .header-botao {
  margin-top: 60px;
}
header .carousel ul.carousel2 li .header-botao a {
  border-radius: 4px;
  border: 2px solid #FFFFFF;
  padding: 20px 44px 20px 44px;
  color: #ffffff;
  text-transform: uppercase;
}
