.imagem {
  width: 100%;
  height: 500px;
}
.carousel2 {
  width: 100%;
  height: 500px;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.black {
  background-color: black;
}
