@white: #FFFFFF;
@black: #000000;
@colorprimary: #dc0000;
@color1: #333333;
@color2: #777777;
@color3: #ecf0f1;

@base-url: "/src/";

@family1: "Lato", Arial;
@family2: "Open Sans Light", Arial;
@family3: 'Open Sans', sans-serif;
@family4: 'Bebas Neue Regular';
@family5: 'Bebas Neue Book';

@size1: 12px;
@size2: 14px;
@size3: 16px;
@size4: 18px;
@size5: 20px;
@size6: 22px;
@size7: 24px;
@size8: 26px;
@size9: 28px;
@size10: 30px;
@size11: 34px;
@size12: 38px;
@size13: 42px;
@size14: 46px;
@size15: 50px;

@line1: 10px;
@line2: 20px;
@line3: 30px;
@line4: 40px;
@line5: 50px;
@line6: 60px;

@bold: 700; 

@size-title-area: 40px;

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src:url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
    font-family: 'Bebas Neue Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas Neue Regular'), url('@{base-url}fonts/BebasNeue Regular.woff') format('woff');
}
@font-face {
    font-family: 'Bebas Neue Book';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas Neue Book'), url('@{base-url}fonts/BebasNeue Book.woff') format('woff');
}

/* Header */
.indicator-header {
    margin: 75vh auto;
}
.indicator-header span {
    background-color: @white;
}
.indicator-header span.active {
    border: 2px solid @white;
    background-color: transparent;
}
/* prending-items and from-the-blog */
.indicator-trending-item {
    margin: 30px auto;
}
.indicator-trending-item span {
    background-color: @color2;
}
.indicator-trending-item span.active {
    background-color: transparent;
    border: 2px solid @colorprimary;
}
/* --------- End Indicator --------- */

.header-background {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    background-repeat: repeat;
    background-position: 50% 0;
    background-attachment: fixed;
}
header {
    width: 100%;
    height: 100vh;
    position: fixed;
    position: relative;
    background-size: cover;
    background-image: url('@{base-url}img/header-background.jpg');
    nav {
        width: 100%;
        height: 98px;
        padding-top: 30px;
        ul.left {
            float: left;
            li {
                float: left;
                list-style: none;
                a {
                    font-size: @size14;
                    line-height: @line3;
                    color: @colorprimary;
                    text-decoration: none;
                    font-family: @family4;
                }
            }
        }
        ul.right {
            float: right;
            li {
                float: left;
                list-style: none;
                margin-left: 50px;
                a {
                    color: @white;
                    font-size: @size4;
                    text-decoration: none;
                    font-family: @family3;
                    &:hover {
                        color: @colorprimary;
                    }
                }
            }
        }
    }
    .header-center {
        top: 50%;
        left: 50%;
        position: absolute;
        width: 900px; /* Valor da Largura */
        height: 400px; /* Valor da Altura */
        margin-left: -450px; /* Metade do valor da Largura */
        margin-top: -200px; /* Metade da valor da Altura */
        .carousel {
            ul.carousel-header {
                width: 900px;
                height: 400px;
                li {
                    text-align: center;
                    h1 {
                        color: @white;
                        font-size: @size7;
                        line-height: @line6;
                        font-family: @family2;
                        text-transform: uppercase;
                    }
                    h2 {
                        color: @white;
                        font-size: @size15;
                        font-weight: @bold;
                        font-family: @family1;
                        text-transform: uppercase;
                    }
                    button {
                        border-radius: 4px;
                        border: 2px solid @white;
                        padding: 20px 44px 20px 44px;
                        background-color: transparent;
                        color: @white;
                        font-size: @size4;
                        font-weight: @bold;
                        font-family: @family1;
                        text-transform: uppercase;
                        -webkit-transition: 0.2s ease-in;
                        -moz-transition: 0.2s ease-in;
                        -o-transition: 0.2s ease-in;
                        transition: 0.2s ease-in;
                        &:hover {
                            color: @black;
                            background-color: @white;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) {
    header {
        nav {
            height: 78px;
            padding-top: 20px;
            ul.left {
                li {
                    a {
                        font-size: @size12;
                    }
                }
            }
            ul.right {
                li {
                    margin-left: 30px;
                    a {
                        &:hover {
                        }
                    }
                }
            }
        }
        .header-center {
            width: 768px; /* Valor da Largura */
            height: 350px; /* Valor da Altura */
            margin-left: -384px; /* Metade do valor da Largura */
            margin-top: -175px; /* Metade da valor da Altura */
            .carousel {
                ul.carousel-header {
                    width: 768px;
                    height: 350px;
                    li {
                        h1 {
                            font-size: @size5;
                            line-height: @line4;
                        }
                        h2 {
                            font-size: @size13;
                        }
                        button {
                            padding: 16px 38px 16px 38px;
                            font-size: @size3;
                            &:hover {
                            }
                        }
                    }
                }
            }
        }
    }
}
/* --------- end header --------- */

.title-area {
    width: 100%;
    height: 98px;
    text-align: center;
    margin: 60px 0 60px 0;
    .title-area-border-top {
        height: 2px;
        width: 112px;
        margin: 0 auto;
        background-color: @colorprimary;
    }
    h1 {
        height: 64px;
        font-style: italic;
        font-family: @family2;
        font-size: @size-title-area;
    }
    .title-area-border-bottom {
        height: 2px;
        width: 112px;
        margin: 0 auto;
        background-color: @colorprimary;
    }
}
.last-products {
    padding-bottom: 60px;
    .men {
        background: url('@{base-url}img/men.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .woman {
        background: url('@{base-url}img/woman.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .watches {
        background: url('@{base-url}img/watches.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .img40-off {
        background: url('@{base-url}img/40-off.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .mega-sale {
        background: url('@{base-url}img/mega-sale.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .margin-box {
        margin-top: 30px;
    }
    .last-products-box {
        width: 100%;
        height: 418px;
        padding-top: 34px;
        .last-products-hover {
            display: none;
        }
        &:hover .last-products-hover {
            width: 80%;
            height: 350px;
            display: block;
            margin: 0 auto;
            text-align: center;
            border: 2px solid @white;
            h1 {
                color: @white;
                font-style: italic;
                font-family: @family2;
                font-size: @size-title-area;
            }
            h2 {
                color: @white;
                font-weight: @bold;
                font-family: @family1;
                text-transform: uppercase;
                font-size: @size-title-area;
            }
            .view-more {
                margin-top: 60px;
                a {
                    border-radius: 4px;
                    border: 2px solid @white;
                    padding: 20px 44px 20px 44px;
                    color: @white;
                    font-weight: @bold;
                    font-size: @size4;
                    text-decoration: none;
                    font-family: @family1;
                    text-transform: uppercase;
                    -webkit-transition: 0.2s ease-in;
                    -moz-transition: 0.2s ease-in;
                    -o-transition: 0.2s ease-in;
                    transition: 0.2s ease-in;
                    &:hover {
                        color: @black;
                        background-color: @white;
                    }
                }
            }
        }
    }
}
/* --------- end last-products --------- */

.container-trending-items {
    width: 100%;
    height: 1018px;
    background: url('@{base-url}img/trending-bg.jpg') repeat-x;
    .carousel {
        ul.carousel2 {
            width: 100%;
            height: 670px;
            li {
                width: 100%;
                h1 {
                    font-size: @size7;
                    font-weight: @bold;
                    color: @colorprimary;
                    font-family: @family1;
                    text-transform: uppercase;
                }
                h2 {
                    color: @color2;
                    font-size: @size4;
                    font-family: @family2;
                }
                .margin-box {
                    margin-top: 30px;
                }
                button {
                    width: 100%;
                    border-radius: 0px;
                    padding: 10px 0 10px 0;
                    border: 1px solid @color1;
                    background-color: transparent;
                    color: @color1;
                    font-weight: @bold;
                    font-size: @size3;
                    font-family: @family3;
                    text-transform: uppercase;
                    -webkit-transition: 0.2s ease-in;
                    -moz-transition: 0.2s ease-in;
                    -o-transition: 0.2s ease-in;
                    transition: 0.2s ease-in;
                    &:hover {
                        color: @white;
                        background-color: @color1;
                    }
                }
            }
        }
    }
}
/* --------- end trending-items --------- */

.container-from-the-blog {
    width: 100%;
    height: 1118px;
    background-color: @white;
    .carousel {
        ul.carousel2 {
            width: 100%;
            height: 770px;
            li {
                width: 100%;
                .from-the-blog {
                    width: 100%;
                    min-height: 400px;
                }
                .ficure-first {
                    background: url('@{base-url}img/blog-ficure-first.jpg');
                }
                .ficure-second {
                    background: url('@{base-url}img/blog-ficure-second.jpg');
                }
                #div {
                    width: 100%;
                    height: 1px;
                    margin: 20px 0 20px 0;
                    background-color: @color3;
                }
                h1 {
                    font-size: @size7;
                    font-weight: @bold;
                    color: @colorprimary;
                    font-family: @family1;
                    text-transform: uppercase;
                }
                h2 {
                    color: @color2;
                    font-size: @size4;
                    font-family: @family2;
                }
                h3 {
                    color: @color1;
                    font-size: @size3;
                    font-family: @family3;
                }
                button {
                    width: 100%;
                    border-radius: 0px;
                    padding: 10px 0 10px 0;
                    border: 1px solid @color1;
                    background-color: transparent;
                    color: @color1;
                    font-size: @size3;
                    font-weight: @bold;
                    font-family: @family3;
                    text-transform: uppercase;
                    -webkit-transition: 0.2s ease-in;
                    -moz-transition: 0.2s ease-in;
                    -o-transition: 0.2s ease-in;
                    transition: 0.2s ease-in;
                    &:hover {
                        color: @white;
                        background-color: @color1;
                    }
                }
            }
        }
    }
}
/* --------- end from-the-blog --------- */

footer {
    width: 100%;
    height: 410px;
    .subscribe {
        width: 100%;
        height: 222px;
        padding: 22px 0 0 0;
        background: url('@{base-url}img/subscribe-bg.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .subscribe-left {
            float: left;
            h1 {
                color: @white;
                font-size: @size4;
                line-height: @line5;
                font-family: @family2;
            }
            input[name="name"] {
                background-color: rgba(255, 255, 255, 0.0);
                background: url('@{base-url}img/imput-email.png') 30px 14px no-repeat;
                padding: 12px 20px 12px 80px;
                border: 1px solid @white;
                box-sizing: border-box;
                height: 50px;
                width: 100%;
                float: left;
                outline: 0;
                color: @white;
                font-size: @size2;
                font-family: @family2;
                text-transform: uppercase;
                -webkit-transition: 0.5s ease-in;
                -moz-transition: 0.5s ease-in;
                -o-transition: 0.5s ease-in;
                transition: 0.5s ease-in;
            }
            input[name="name"]:focus {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        .subscribe-right {
            float: right;
            margin-top: 80px;
            a {
                .subscribe-botao {
                    width: 270px;
                    height: 50px;
                    color: @color1;
                    font-size: @size3;
                    font-weight: @bold;
                    text-align: center;
                    display: table-cell;
                    vertical-align: middle;
                    font-family: @family3;
                    background-color: @white;
                }
            }
        }
    }
    .footer_autor{
        color: @color1;
        margin-top: 78px;
        font-size: @size6;
        font-family: @family4;
        a{  
            color: @color1;
            text-decoration: none;
            &:hover {
                color: @colorprimary;
            }
        }
    }
}
/* --------- end footer --------- */