<div class="container">
    <div class="article">
        <div class="title-area">
            <div class="title-area-border-top"></div>
            <h1>Nathan Stewart Jacket</h1>
            <div class="title-area-border-bottom"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="article-main">
                    <img src="/src/img/blog-ficure-first.jpg" class="ficure img-responsive" alt="Nathan Stewart Jacket">
                    <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci risus, rhoncus vel auctor maximus, aliquam id                    . Vivamus ligula lectus, ultricies at faucibus nec, maximus in dolor. Fusce id placerat est. Praesent convallis ligula aliquam, commodo leo eget, tempor urna. Suspendisse hendrerit euismod velit. Duis sed maximus mi. Donec congue, est fringilla porta dignissim, lacus sem eleifend purus, eget pretium lectus diam hendrerit orci. Sed elementum orci rutrum sapien aliquam posuere quis vel lectus. Cras quis leo ut sem malesuada commodo. Aenean elementum turpis iaculis velit ultrices, ac eleifend elit malesuada. Sed vitae tellus ut massa dignissim viverra.
                    
                    Vivamus et ipsum vestibulum, aliquam purus at, pharetra nisi. Fusce in sem facilisis, porttitor orci eu, blandit eros. Donec ultrices consequat enim, in finibus ligula vehicula eget. Proin ornare lacinia elementum. Curabitur vitae urna massa. Nam iaculis in elit non rhoncus. Etiam est arcu, rutrum in lorem viverra, ultricies laoreet diam. Curabitur ut ipsum eros. Duis mollis, tellus vel interdum scelerisque, metus ipsum sodales lectus, at sodales eros quam vel mi. Praesent neque nisi, condimentum a ligula vel, posuere mattis dolor. Sed dictum tincidunt diam in fermentum. Duis pharetra id orci sed rutrum.
                    
                    Vivamus egestas ullamcorper metus a auctor. In et elit volutpat, tincidunt dolor sed, rhoncus lorem. Aliquam rutrum sem nec erat egestas ultricies. Donec orci lorem, aliquam sed risus ac, euismod sodales risus. Mauris vitae erat maximus, placerat erat a, maximus neque. Suspendisse potenti. Mauris cursus nec justo id iaculis. Cras ut odio velit. Aliquam erat volutpat.
                    
                    Aenean sit amet neque ultrices sapien ultrices tempor ut quis felis. In eu mollis sem. Donec vel metus ac turpis sodales gravida sit amet ut neque. Nulla vel purus at neque imperdiet consequat dignissim semper arcu. In eleifend, nulla nec tristique venenatis, ante nisi laoreet neque, eget fermentum velit turpis lacinia enim. Donec ultricies eros at nunc tincidunt elementum. Ut euismod lacus ac dolor varius, sed dictum magna consequat. Sed vitae malesuada massa. Curabitur tristique pharetra maximus.
                    
                    Mauris viverra rutrum semper. Quisque ornare mauris ut accumsan imperdiet. Sed luctus est ut turpis cursus viverra. Phasellus dapibus lacus in nisl vestibulum, non iaculis nunc iaculis. Mauris ac tellus libero. Pellentesque gravida nisi lorem, quis sodales nulla tincidunt quis. Fusce vehicula vulputate elit, a vehicula sapien volutpat eget. Nam tincidunt maximus lectus, eget ultrices dolor elementum ac.  
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci risus, rhoncus vel auctor maximus, aliquam id est. Vivamus ligula lectus, ultricies at faucibus nec, maximus in dolor. Fusce id placerat est. Praesent convallis ligula aliquam, commodo leo eget, tempor urna. Suspendisse hendrerit euismod velit. Duis sed maximus mi. Donec congue, est fringilla porta dignissim, lacus sem eleifend purus, eget pretium lectus diam hendrerit orci. Sed elementum orci rutrum sapien aliquam posuere quis vel lectus. Cras quis leo ut sem malesuada commodo. Aenean elementum turpis iaculis velit ultrices, ac eleifend elit malesuada. Sed vitae tellus ut massa dignissim viverra.
                    
                    Vivamus et ipsum vestibulum, aliquam purus at, pharetra nisi. Fusce in sem facilisis, porttitor orci eu, blandit eros. Donec ultrices consequat enim, in finibus ligula vehicula eget. Proin ornare lacinia elementum. Curabitur vitae urna 
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="article-share text-center">
    <div class="article-share-title">Compartilhe</div>
    <ul>
        <li>
            <a href="https://www.twitter.com/">
                <div class="article-share-area twitter">
                    <div class="article-share-center">
                        <div class="article-share-ico ico-twitter"></div>
                        <div class="article-share-social">
                            <h1>Twitter</h1>
                            <div class="article-share-num">1,107</div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/">
                <div class="article-share-area facebook">
                    <div class="article-share-center">
                        <div class="article-share-ico ico-facebook"></div>
                        <div class="article-share-social">
                            <h1>Facebook</h1>
                            <div class="article-share-num">2,558</div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="https://www.google.com/">
                <div class="article-share-area google">
                    <div class="article-share-center">
                        <div class="article-share-ico ico-google"></div>
                        <div class="article-share-social">
                            <h1>Google</h1>
                            <div class="article-share-num">971</div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>