<footer class="footer">
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    <div class="subscribe-left">
                        <h1>SUBSCRIBE TO OUR NEWSLETTER TO RECEIVE LATEST NEWS AND OFFERS</h1>
                        <input type="text" name="name" placeholder="NOME*" autocomplete="off" required x-moz-errormessage="Preencha o seu nome.">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="subscribe-right">
                        <a href="#"><div class="subscribe-botao">Subscribe</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="footer_autor">© Caio Alexandre - <a href="https://github.com/caioalexandrebr/brandly" alt="GitHub">GitHub</a> - <a href="https://www.linkedin.comin/caioalexandrebr/" alt="Linkedin">Linkedin</a></div>            
    </div>
</footer>