<div class="container-from-the-blog">
    <div class="container">
        
        <div class="title-area">
            <div class="title-area-border-top"></div>
            <h1>From The Blog</h1>
            <div class="title-area-border-bottom"></div>
        </div>

        <div class="carousel">
            <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
                <li>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="from-the-blog ficure-first"></div>
                            <a href="#"><h1>GERMAN FASHION WIZARDS</h1></a>
                            <h3>By Caio Alexandre   |   Fashion</h3>
                            <div id="div"></div>
                            <h2>This week we had the chance of interviewing two creative artists from Germany. These guys are simply amazing at what they do with the 
                                European fashion scene and this year at Paris Fashion Week they 
                                introduced their new collection.</h2>
                            <div id="div"></div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <button onclick="location.href='#'" type="button" class="btn">Read More</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="from-the-blog ficure-second"></div>
                            <a href="#"><h1>ANNE STEWART’S SUNGLASSES</h1></a>
                            <h3>By Caio Alexandre   |   Trending</h3>
                            <div id="div"></div>
                            <h2>Just amazing! That is how i can describe this person. So creative,so inspiring. I was watching her create in her small studio in London 
                                and i was amazed at how every little detail gets included in her creaions. From frames,to glass thickness she blew me away...</h2>
                            <div id="div"></div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <button onclick="location.href='#'" type="button" class="btn">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="from-the-blog ficure-first"></div>
                            <a href="#"><h1>GERMAN FASHION WIZARDS</h1></a>
                            <h3>By Caio Alexandre   |   Fashion</h3>
                            <div id="div"></div>
                            <h2>This week we had the chance of interviewing two creative artists from Germany. These guys are simply amazing at what they do with the 
                                European fashion scene and this year at Paris Fashion Week they 
                                introduced their new collection.</h2>
                            <div id="div"></div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <button onclick="location.href='#'" type="button" class="btn">Read More</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="from-the-blog ficure-second"></div>
                            <a href="#"><h1>ANNE STEWART’S SUNGLASSES</h1></a>
                            <h3>By Caio Alexandre   |   Trending</h3>
                            <div id="div"></div>
                            <h2>Just amazing! That is how i can describe this person. So creative,so inspiring. I was watching her create in her small studio in London 
                                and i was amazed at how every little detail gets included in her creaions. From frames,to glass thickness she blew me away...</h2>
                            <div id="div"></div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <button onclick="location.href='#'" type="button" class="btn">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="from-the-blog ficure-first"></div>
                            <a href="#"><h1>GERMAN FASHION WIZARDS</h1></a>
                            <h3>By Caio Alexandre   |   Fashion</h3>
                            <div id="div"></div>
                            <h2>This week we had the chance of interviewing two creative artists from Germany. These guys are simply amazing at what they do with the 
                                European fashion scene and this year at Paris Fashion Week they 
                                introduced their new collection.</h2>
                            <div id="div"></div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <button onclick="location.href='#'" type="button" class="btn">Read More</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="from-the-blog ficure-second"></div>
                            <a href="#"><h1>ANNE STEWART’S SUNGLASSES</h1></a>
                            <h3>By Caio Alexandre   |   Trending</h3>
                            <div id="div"></div>
                            <h2>Just amazing! That is how i can describe this person. So creative,so inspiring. I was watching her create in her small studio in London 
                                and i was amazed at how every little detail gets included in her creaions. From frames,to glass thickness she blew me away...</h2>
                            <div id="div"></div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <button onclick="location.href='#'" type="button" class="btn">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="from-the-blog ficure-first"></div>
                            <a href="#"><h1>GERMAN FASHION WIZARDS</h1></a>
                            <h3>By Caio Alexandre   |   Fashion</h3>
                            <div id="div"></div>
                            <h2>This week we had the chance of interviewing two creative artists from Germany. These guys are simply amazing at what they do with the 
                                European fashion scene and this year at Paris Fashion Week they 
                                introduced their new collection.</h2>
                            <div id="div"></div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <button onclick="location.href='#'" type="button" class="btn">Read More</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="from-the-blog ficure-second"></div>
                            <a href="#"><h1>ANNE STEWART’S SUNGLASSES</h1></a>
                            <h3>By Caio Alexandre   |   Trending</h3>
                            <div id="div"></div>
                            <h2>Just amazing! That is how i can describe this person. So creative,so inspiring. I was watching her create in her small studio in London 
                                and i was amazed at how every little detail gets included in her creaions. From frames,to glass thickness she blew me away...</h2>
                            <div id="div"></div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <button onclick="location.href='#'" type="button" class="btn">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="rn-carousel-indicator indicator-trending-item">
                <span ng-repeat="slide in slides2" ng-class="{active: $index==$parent.carouselIndex2}" ng-click="$parent.carouselIndex2 = $index">    </span>
            </div>
        <!--<div rn-carousel-indicators ng-if="slides2.length > 1" slides="slides2" rn-carousel-index="carouselIndex2"></div> -->
        </div>
        
    </div>
</div>