<div class="container">
    <div class="last-products">
        <div class="title-area">
            <div class="title-area-border-top"></div>
            <h1>Latest Products</h1>
            <div class="title-area-border-bottom"></div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="last-products-box men margin-box">
                    <div class="last-products-hover">
                        <h1 style="margin-top: 98px;">Men</h1>
                        <div class="view-more"><a href="/">View More</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="last-products-box woman margin-box">
                    <div class="last-products-hover">                            
                        <h1 style="margin-top: 98px;">Woman</h1>
                        <div class="view-more"><a href="/">View More</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="last-products-box watches margin-box">
                    <div class="last-products-hover">
                        <h1 style="margin-top: 98px;">Watches</h1>
                        <div class="view-more"><a href="/">View More</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="last-products-box img40-off margin-box">
                    <div class="last-products-hover">
                        <h2 style="margin-top: 50px;">
                            40% Off<br>
                            New Autumn<br>
                            Collection
                        </h2>
                        <div class="view-more"><a href="/">View More</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="last-products-box mega-sale margin-box">
                    <div class="last-products-hover">
                        <h2 style="margin-top: 50px;">
                            MEGA SALE<br>
                            ON ITEMS FROM<br>
                            SPIRIT COLLECTION
                        </h2>
                        <div class="view-more"><a href="/">View More</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>