<div class="container-trending-items">
    <div class="container">
        
        <div class="title-area">
            <div class="title-area-border-top"></div>
            <h1>Trending Items</h1>
            <div class="title-area-border-bottom"></div>
        </div>

        <div class="carousel">
            <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
                <li>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="trending-item"></div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <h1>NATHAN STEWART JACKET</h1>
                            <h2>Summer/Autumn Collection<br>
                            __<br><br>
                            Classic Nathan Stewart Jacket from his latest collection.<br>
                            This item is loved by many just because of it’s simle style.<br>
                            Simple lines, lovely texture, it suits almost everybody.<br>
                            It comes in six different colors, and all sizes.<br>
                            <br>
                            FASHION TIP:<br>
                            With this jacket, Nathan Stewart sunglasses go hand in hand!</h2>
                            <div class="row margin-box">
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">M</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">L</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">XL</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">XXL</div></a>
                                </div>
                            </div>
                            <div class="row margin-box">
                                <div class="col-xs-4">
                                    <a href="/"><div class="box-size-larger">XXL</div></a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="/"><div class="box-size-larger">XXL</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="trending-item"></div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <h1>NATHAN STEWART JACKET</h1>
                            <h2>Summer/Autumn Collection<br>
                            __<br><br>
                            Classic Nathan Stewart Jacket from his latest collection.<br>
                            This item is loved by many just because of it’s simle style.<br>
                            Simple lines, lovely texture, it suits almost everybody.<br>
                            It comes in six different colors, and all sizes.<br>
                            <br>
                            FASHION TIP:<br>
                            With this jacket, Nathan Stewart sunglasses go hand in hand!</h2>
                            <div class="row margin-box">
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">M</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">L</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">XL</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">XXL</div></a>
                                </div>
                            </div>
                            <div class="row margin-box">
                                <div class="col-xs-4">
                                    <a href="/"><div class="box-size-larger">XXL</div></a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="/"><div class="box-size-larger">XXL</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="trending-item"></div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <h1>NATHAN STEWART JACKET</h1>
                            <h2>Summer/Autumn Collection<br>
                            __<br><br>
                            Classic Nathan Stewart Jacket from his latest collection.<br>
                            This item is loved by many just because of it’s simle style.<br>
                            Simple lines, lovely texture, it suits almost everybody.<br>
                            It comes in six different colors, and all sizes.<br>
                            <br>
                            FASHION TIP:<br>
                            With this jacket, Nathan Stewart sunglasses go hand in hand!</h2>
                            <div class="row margin-box">
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">M</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">L</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">XL</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">XXL</div></a>
                                </div>
                            </div>
                            <div class="row margin-box">
                                <div class="col-xs-4">
                                    <a href="/"><div class="box-size-larger">XXL</div></a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="/"><div class="box-size-larger">XXL</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="trending-item"></div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <h1>NATHAN STEWART JACKET</h1>
                            <h2>Summer/Autumn Collection<br>
                            __<br><br>
                            Classic Nathan Stewart Jacket from his latest collection.<br>
                            This item is loved by many just because of it’s simle style.<br>
                            Simple lines, lovely texture, it suits almost everybody.<br>
                            It comes in six different colors, and all sizes.<br>
                            <br>
                            FASHION TIP:<br>
                            With this jacket, Nathan Stewart sunglasses go hand in hand!</h2>
                            <div class="row margin-box">
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">M</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">L</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">XL</div></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/"><div class="box-size-smaller">XXL</div></a>
                                </div>
                            </div>
                            <div class="row margin-box">
                                <div class="col-xs-4">
                                    <a href="/"><div class="box-size-larger">XXL</div></a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="/"><div class="box-size-larger">XXL</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="rn-carousel-indicator indicator-trending-item">
                <span ng-repeat="slide in slides2" ng-class="{active: $index==$parent.carouselIndex2}" ng-click="$parent.carouselIndex2 = $index">    </span>
            </div>
        <!--<div rn-carousel-indicators ng-if="slides2.length > 1" slides="slides2" rn-carousel-index="carouselIndex2"></div> -->
        </div>
        
    </div>
</div>