<div class="container-trending-items">
    <div class="container">
        
        <div class="title-area">
            <div class="title-area-border-top"></div>
            <h1>Trending Items</h1>
            <div class="title-area-border-bottom"></div>
        </div>

        <div class="carousel">
            <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
                <li>
                    <div class="row">
                        <div class="col-xs-6">
                            <img src="/src/img/trending-item.jpg" class="img-responsive" alt="Nathan Stewart Jacket">
                        </div>
                        <div class="col-xs-6">
                            <h1>NATHAN STEWART JACKET</h1>
                            <h2>Summer/Autumn Collection<br>
                            __<br><br>
                            Classic Nathan Stewart Jacket from his latest collection.<br>
                            This item is loved by many just because of it’s simle style.<br>
                            Simple lines, lovely texture, it suits almost everybody.<br>
                            It comes in six different colors, and all sizes.<br>
                            <br>
                            FASHION TIP:<br>
                            With this jacket, Nathan Stewart sunglasses go hand in hand!</h2>
                            <div class="row margin-box">
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">M</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">L</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">XL</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">XXL</button>
                                </div>
                            </div>
                            <div class="row margin-box">
                                <div class="col-md-4 col-xs-6">
                                    <button onclick="location.href='#'" type="button" class="btn">Shop Now</button>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <button onclick="location.href='#'" type="button" class="btn">Size Guide</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-xs-6">
                            <img src="/src/img/trending-item.jpg" class="img-responsive" alt="Nathan Stewart Jacket">
                        </div>
                        <div class="col-xs-6">
                            <h1>NATHAN STEWART JACKET</h1>
                            <h2>Summer/Autumn Collection<br>
                            __<br><br>
                            Classic Nathan Stewart Jacket from his latest collection.<br>
                            This item is loved by many just because of it’s simle style.<br>
                            Simple lines, lovely texture, it suits almost everybody.<br>
                            It comes in six different colors, and all sizes.<br>
                            <br>
                            FASHION TIP:<br>
                            With this jacket, Nathan Stewart sunglasses go hand in hand!</h2>
                            <div class="row margin-box">
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">M</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">L</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">XL</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">XXL</button>
                                </div>
                            </div>
                            <div class="row margin-box">
                                <div class="col-md-4 col-xs-6">
                                    <button onclick="location.href='#'" type="button" class="btn">Shop Now</button>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <button onclick="location.href='#'" type="button" class="btn">Size Guide</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-xs-6">
                            <img src="/src/img/trending-item.jpg" class="img-responsive" alt="Nathan Stewart Jacket">
                        </div>
                        <div class="col-xs-6">
                            <h1>NATHAN STEWART JACKET</h1>
                            <h2>Summer/Autumn Collection<br>
                            __<br><br>
                            Classic Nathan Stewart Jacket from his latest collection.<br>
                            This item is loved by many just because of it’s simle style.<br>
                            Simple lines, lovely texture, it suits almost everybody.<br>
                            It comes in six different colors, and all sizes.<br>
                            <br>
                            FASHION TIP:<br>
                            With this jacket, Nathan Stewart sunglasses go hand in hand!</h2>
                            <div class="row margin-box">
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">M</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">L</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">XL</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">XXL</button>
                                </div>
                            </div>
                            <div class="row margin-box">
                                <div class="col-md-4 col-xs-6">
                                    <button onclick="location.href='#'" type="button" class="btn">Shop Now</button>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <button onclick="location.href='#'" type="button" class="btn">Size Guide</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-xs-6">
                            <img src="/src/img/trending-item.jpg" class="img-responsive" alt="Nathan Stewart Jacket">
                        </div>
                        <div class="col-xs-6">
                            <h1>NATHAN STEWART JACKET</h1>
                            <h2>Summer/Autumn Collection<br>
                            __<br><br>
                            Classic Nathan Stewart Jacket from his latest collection.<br>
                            This item is loved by many just because of it’s simle style.<br>
                            Simple lines, lovely texture, it suits almost everybody.<br>
                            It comes in six different colors, and all sizes.<br>
                            <br>
                            FASHION TIP:<br>
                            With this jacket, Nathan Stewart sunglasses go hand in hand!</h2>
                            <div class="row margin-box">
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">M</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">L</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">XL</button>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <button onclick="location.href='#'" type="button" class="btn">XXL</button>
                                </div>
                            </div>
                            <div class="row margin-box">
                                <div class="col-md-4 col-xs-6">
                                    <button onclick="location.href='#'" type="button" class="btn">Shop Now</button>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <button onclick="location.href='#'" type="button" class="btn">Size Guide</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="rn-carousel-indicator indicator-trending-item">
                <span ng-repeat="slide in slides2" ng-class="{active: $index==$parent.carouselIndex2}" ng-click="$parent.carouselIndex2 = $index">    </span>
            </div>
        <!--<div rn-carousel-indicators ng-if="slides2.length > 1" slides="slides2" rn-carousel-index="carouselIndex2"></div> -->
        </div>
        
    </div>
</div>